src/test/resources/dataset.dtd

<!ELEMENT dataset (
    PRODUCT*,
    CART*,
    CART_PRODUCT*)>

<!ELEMENT PRODUCT EMPTY>
<!ATTLIST PRODUCT
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    PRICE CDATA #IMPLIED
>

<!ELEMENT CART EMPTY>
<!ATTLIST CART
    ID CDATA #REQUIRED
    VALUE CDATA #IMPLIED
>

<!ELEMENT CART_PRODUCT EMPTY>
<!ATTLIST CART_PRODUCT
    PRODUCT_ID CDATA #REQUIRED
    CART_ID CDATA #REQUIRED
>

